:root {
  --bgcolor: #248234;
  --hovercolor: #50dbd9;
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: var(--bgcolor);
  padding: 1.3rem;

  display: flex;
  justify-content: space-between;
}

.logo {
  color: white;
  align-self: center;
  margin-left: 1.2rem;
}

.nav-links a {
  color: white;
  padding: 1.3rem;
  cursor: pointer;
}

.nav-links a:hover {
  background-color: var(--hovercolor);
}

.menu-icon {
  color: white;
  cursor: pointer;
  display: none;
}

#toggle-menu {
  display: none;
}

@media screen and (max-width: 700px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 3.7rem;
    left: 0;
    width: 100%;
    background-color: var(--bgcolor);
    text-align: center;
  }

  .nav-links a {
    display: block;
  }

  .menu-icon {
    display: block;
    z-index: 1;
  }

  #toggle-menu:checked ~ .nav-links {
    display: block;
  }
}
